{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Educa{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>
<body>

<div id="header">
    <a href="/" class="logo">
        <i class="fa fa-coffee" aria-hidden="true"></i>
        Educa
    </a>
    <ul class="menu">
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'logout' %}">
                Выйти&nbsp;
                <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login' %}">
                Войти&nbsp;
                <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
$(document).ready(function() {
      {% block domready %}
      {% endblock %}
    });


</script>

</body>
</html>