{% extends "base.html" %}

{% block title %}
{{ object }}
{% endblock %}

{% block content %}
{% with subject=object.subject %}
<h1>{{ object }}</h1>
<div class="module">
    <h2>Обзор</h2>
    <p>
        <a href="{% url 'courses:course_list_subject' subject.slug %}">
            {{ subject }}.
        </a>
        {{ object.modules.count }} модулей,
        Автор: {{ object.owner.username|title }}
    </p>
    {{ object.overview|linebreaks }}
    {% if request.user.is_authenticated %}
    <form action="{% url 'students:student_enroll_course' %}" method="post">
        {{ enroll_form }}
        {% csrf_token %}
        <input type="submit" class="button" value="Записаться на курс">
    </form>
    {% else %}
    <a href="{% url 'students:student_registration' %}" class="button">
        зарегистрироваться перед тем как записаться
    </a>
    {% endif %}
    <p>
        <a href="{% url 'students:student_course_detail' object.pk %}" class="button">
            Перейти к курсу
        </a>
    </p>
</div>
{% endwith %}
{% endblock %}